Django==5.2.8
Pillow==12.0.0
django-crispy-forms==2.5.0
crispy-bootstrap4==2025.6.0
crispy-bootstrap5==2025.6.0
gunicorn==23.0.0
python-decouple==3.8
requests==2.31.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
whitenoise==6.6.0
